*/bin/*
.metadata/*
.directory
*/target/*
*/src-gen/*
*/xtend-gen/*
**/generated/*
*.xml_gen
**/.recommenders/*
*_gen
/.metadata/
.gradle/
prepare_environment.sh
settings.xml
secrets.tar
target/
*/build/
